<nav class='inverted'>
  
  <div id="loggedUser" logged>
    <img id="loggedUserAvatar" />
    <div>
      <p id="username" ></p>
      <button primary logged emit="logout">Logout</button>
    </div>
  </div>

  <button primary no-user link="login">Login</button>
  
  <div bleeds grows scrolls>
  
    <ul>
      <li><a logged link="admin.html">Admin</a></li>
      <li logged>
        
        <group row id="btnInbox"  link="inbox.html">
          <a grows>Inbox</a>
          <span></span>
        </group>
        
      <li><a logged link="upload.html">Upload</a></li>
    </ul>
    
    
    <ul free></ul>
  
  </div>
  
  <footer>
    <a href="https://wearwolf-web.firebaseapp.com">        
      Powered By <img src="img/www.png" />
    </a>
  </footer>
  
</nav>
