<page id="register">
  <section>
    
    <pitch>Crie sua conta</pitch>
    <loading>Carregando</loading>
    <error>Ocorreu um erro: <strong></strong></error>
    
    <form interactive>
      <input type="email" required placeholder="seu@email.com" />
      <input type="password" required placeholder="senha" />
      <input type="password" name="confirmation" required placeholder="Confirme a senha" />
      <group>
        <button primary>Registrar</button>
        <button type="button" emit="pullPage" >Cancelar</button>
      </group>
    </form>
    
  </section>
</page>
