<page id="inbox">
                      
  <section>
    
    <div id="users">
    
      <ul id="inboxUnread"></ul>
      <ul id="inboxRead"></ul>
      
    </div>
    
    <div id="messages"></div>
    
  </section>
  
</page>
