<page id="publish" auth>
  <section>
    
    <group>
      
      <argument>
        <loading>Publicando seu site...</loading>
        <error>Ocorreu um erro: <strong></strong></error>
        <success>
          Publicado com sucesso!
          <button link="editor">Retornar ao Editor</button>
        </success>
      </argument>
      
      <argument>
        Cadastre seu dominio
      </argument>
      
    </group>
    
  </section>
</page>
          
