<page id="upload">
            
  <section>
    
    <loading>
      <h2>Enviando Fotos ...</h2>
      <results></results>
    </loading>
      
    <error>ERRO: <strong></strong></error>
    
    <success>
      <pitch></pitch>
      <button link="admin.html">Retornar ao editor</button>
    </success>
    
    <form interactive>
    
      <group row>
        <label>Avatar</label>
        <input type="file" name="avatar" accept="image/*" />
      </group>
    
      <group row>
        <label>Logo PNG Alpha</label>
        <input type="file" name="logo" accept="image/png"  />
      </group>
      
      <group row>
        <label>Header Icon PNG Alpha</label>
        <input type="file" name="favicon" accept="image/png"  />
      </group>
      
      <group row>
        <label>Vinheta MP3</label>
        <input type="file" name="audio" accept="audio/*"  />
      </group>
      
      <div id="sections"></div>
      
      <group>
        <button type="button" emit="upload">Upload</button>
      </group>
      
    </form>
      
  </section>
  
</page>
