<page id="login">
  <section>
    
    <pitch>Acesse sua conta</pitch>
    <loading>Carregando</loading>
    <error>Ocorreu um erro: <strong></strong></error>
    
    <form interactive>
      <input type="email" required placeholder="seu@email.com" />
      <input type="password" required placeholder="senha" />
      <group>
        <button type="submit" primary>Login</button>
        <button link="register" type="button" >Criar Conta</button>
        <button minor emit="skipLogin" type="button" >Agora não</button>
      </group>
    </form>
    
  </section>
</page>
