<template id="contact">
  
  <group>
    
    <address card>
      
      <group>
      
        <img class="avatar" />
        
        <div grows>
        
          <h3></h3>
          <social></social>
          <p><a phone>
            <i class='i-phone'></i>
            <span class='n'></span>
            <span class='c'>Ligar</span>
          </a></p>
          <p addr></p>
      
        </div>
        
      </group>
      
    </address>
    
    <form logged>
    
      <loading>Enviando Mensagem...</loading>
      <success>Mensagem recebida com sucesso</success>
      <error>Erro ao enviar mensagem: <strong></strong></error>
      
      <div interactive>
        <input name="name" placeholder="Nome" />
        <input type="email" placeholder="email@seudominio.com.br" />
                    
        <textarea rows="5"></textarea>
        
        <label>
          <input type="checkbox" name="subscribe" value="1" />
          Quero receber promoções e notícias
        </label>
        
        <group>
          <button>Enviar</button>
          <button type="button" emit="pullPage">Cancelar</button>
        </group>
      </div>

      
    </form>
    
  </group>
  
</template>
