@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?rqbu0q') format('truetype'),
    url('fonts/icomoon.woff?rqbu0q') format('woff'),
    url('fonts/icomoon.svg?rqbu0q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-home:before {
  content: "\e900";
}
.i-office:before {
  content: "\e903";
}
.i-newspaper:before {
  content: "\e904";
}
.i-pencil:before {
  content: "\e905";
}
.i-eyedropper:before {
  content: "\e90a";
}
.i-droplet:before {
  content: "\e90b";
}
.i-paint-format:before {
  content: "\e90c";
}
.i-images:before {
  content: "\e90e";
}
.i-camera:before {
  content: "\e90f";
}
.i-headphones:before {
  content: "\e910";
}
.i-music:before {
  content: "\e911";
}
.i-play1:before {
  content: "\e912";
}
.i-film:before {
  content: "\e913";
}
.i-video-camera:before {
  content: "\e914";
}
.i-dice:before {
  content: "\e915";
}
.i-pacman:before {
  content: "\e916";
}
.i-spades:before {
  content: "\e917";
}
.i-clubs:before {
  content: "\e918";
}
.i-diamonds:before {
  content: "\e919";
}
.i-bullhorn:before {
  content: "\e91a";
}
.i-connection:before {
  content: "\e91b";
}
.i-podcast:before {
  content: "\e91c";
}
.i-mic:before {
  content: "\e91e";
}
.i-book:before {
  content: "\e91f";
}
.i-books:before {
  content: "\e920";
}
.i-library:before {
  content: "\e921";
}
.i-profile:before {
  content: "\e923";
}
.i-stack:before {
  content: "\e92e";
}
.i-folder:before {
  content: "\e92f";
}
.i-price-tag:before {
  content: "\e935";
}
.i-barcode:before {
  content: "\e937";
}
.i-qrcode:before {
  content: "\e938";
}
.i-ticket:before {
  content: "\e939";
}
.i-cart:before {
  content: "\e93a";
}
.i-creditcard:before {
  content: "\e93f";
}
.i-support:before {
  content: "\e941";
}
.i-phone:before {
  content: "\e942";
}
.i-pushpin:before {
  content: "\e946";
}
.i-location:before {
  content: "\e948";
}
.i-compass:before {
  content: "\e949";
}
.i-compass2:before {
  content: "\e94a";
}
.i-clock:before {
  content: "\e94e";
}
.i-alarm:before {
  content: "\e950";
}
.i-bell:before {
  content: "\e951";
}
.i-stopwatch:before {
  content: "\e952";
}
.i-calendar:before {
  content: "\e953";
}
.i-printer:before {
  content: "\e954";
}
.i-keyboard:before {
  content: "\e955";
}
.i-display:before {
  content: "\e956";
}
.i-mobile:before {
  content: "\e958";
}
.i-tablet:before {
  content: "\e95a";
}
.i-floppy-disk:before {
  content: "\e962";
}
.i-database:before {
  content: "\e964";
}
.i-bubble:before {
  content: "\e96b";
}
.i-bubbles:before {
  content: "\e96c";
}
.i-user:before {
  content: "\e971";
}
.i-users:before {
  content: "\e972";
}
.i-user-plus:before {
  content: "\e973";
}
.i-user-minus:before {
  content: "\e974";
}
.i-user-check:before {
  content: "\e975";
}
.i-user-tie:before {
  content: "\e976";
}
.i-spinner:before {
  content: "\e97e";
}
.i-search:before {
  content: "\e986";
}
.i-enlarge:before {
  content: "\e989";
}
.i-shrink:before {
  content: "\e98a";
}
.i-enlarge2:before {
  content: "\e98b";
}
.i-shrink2:before {
  content: "\e98c";
}
.i-key:before {
  content: "\e98e";
}
.i-lock:before {
  content: "\e98f";
}
.i-unlocked:before {
  content: "\e990";
}
.i-wrench:before {
  content: "\e991";
}
.i-equalizer:before {
  content: "\e993";
}
.i-cog:before {
  content: "\e994";
}
.i-hammer:before {
  content: "\e996";
}
.i-magicwand:before {
  content: "\e997";
}
.i-help:before {
  content: "\e998";
}
.i-bug:before {
  content: "\e999";
}
.i-pie-chart:before {
  content: "\e99a";
}
.i-stats-dots:before {
  content: "\e99b";
}
.i-stats:before {
  content: "\e99c";
}
.i-stats2:before {
  content: "\e99d";
}
.i-trophy:before {
  content: "\e99e";
}
.i-gift:before {
  content: "\e99f";
}
.i-glass:before {
  content: "\e9a0";
}
.i-glass2:before {
  content: "\e9a1";
}
.i-mug:before {
  content: "\e9a2";
}
.i-spoon-knife:before {
  content: "\e9a3";
}
.i-leaf:before {
  content: "\e9a4";
}
.i-rocket:before {
  content: "\e9a5";
}
.i-meter:before {
  content: "\e9a6";
}
.i-meter2:before {
  content: "\e9a7";
}
.i-fire:before {
  content: "\e9a9";
}
.i-lab:before {
  content: "\e9aa";
}
.i-magnet:before {
  content: "\e9ab";
}
.i-bin:before {
  content: "\e9ac";
}
.i-briefcase:before {
  content: "\e9ae";
}
.i-airplane:before {
  content: "\e9af";
}
.i-truck:before {
  content: "\e9b0";
}
.i-road:before {
  content: "\e9b1";
}
.i-accessibility:before {
  content: "\e9b2";
}
.i-target:before {
  content: "\e9b3";
}
.i-shield:before {
  content: "\e9b4";
}
.i-power:before {
  content: "\e9b5";
}
.i-switch:before {
  content: "\e9b6";
}
.i-power-cord:before {
  content: "\e9b7";
}
.i-clipboard:before {
  content: "\e9b8";
}
.i-cloud-upload:before {
  content: "\e9c3";
}
.i-cloud-check:before {
  content: "\e9c4";
}
.i-earth:before {
  content: "\e9ca";
}
.i-link:before {
  content: "\e9cb";
}
.i-flag:before {
  content: "\e9cc";
}
.i-attachment:before {
  content: "\e9cd";
}
.i-eye:before {
  content: "\e9ce";
}
.i-eye-plus:before {
  content: "\e9cf";
}
.i-eye-blocked:before {
  content: "\e9d1";
}
.i-bookmark:before {
  content: "\e9d2";
}
.i-sun:before {
  content: "\e9d4";
}
.i-star-empty:before {
  content: "\e9d7";
}
.i-star-half:before {
  content: "\e9d8";
}
.i-star-full:before {
  content: "\e9d9";
}
.i-heart:before {
  content: "\e9da";
}
.i-man:before {
  content: "\e9dc";
}
.i-woman:before {
  content: "\e9dd";
}
.i-man-woman:before {
  content: "\e9de";
}
.i-happy:before {
  content: "\e9df";
}
.i-smile:before {
  content: "\e9e1";
}
.i-tongue:before {
  content: "\e9e3";
}
.i-sad:before {
  content: "\e9e5";
}
.i-wink:before {
  content: "\e9e7";
}
.i-grin:before {
  content: "\e9e9";
}
.i-cool:before {
  content: "\e9eb";
}
.i-angry:before {
  content: "\e9ed";
}
.i-evil:before {
  content: "\e9ef";
}
.i-shocked:before {
  content: "\e9f1";
}
.i-baffled:before {
  content: "\e9f3";
}
.i-confused:before {
  content: "\e9f5";
}
.i-neutral:before {
  content: "\e9f7";
}
.i-hipster:before {
  content: "\e9f9";
}
.i-wondering:before {
  content: "\e9fb";
}
.i-sleepy:before {
  content: "\e9fd";
}
.i-frustrated:before {
  content: "\e9ff";
}
.i-crying:before {
  content: "\ea01";
}
.i-point-up:before {
  content: "\ea03";
}
.i-point-right:before {
  content: "\ea04";
}
.i-point-down:before {
  content: "\ea05";
}
.i-point-left:before {
  content: "\ea06";
}
.i-warning:before {
  content: "\ea07";
}
.i-notification:before {
  content: "\ea08";
}
.i-plus:before {
  content: "\ea0a";
}
.i-minus:before {
  content: "\ea0b";
}
.i-cross:before {
  content: "\ea0f";
}
.i-check:before {
  content: "\ea10";
}
.i-play:before {
  content: "\ea1c";
}
.i-stop:before {
  content: "\ea1e";
}
.i-volume-high:before {
  content: "\ea26";
}
.i-infinite:before {
  content: "\ea2f";
}
.i-shuffle:before {
  content: "\ea30";
}
.i-arrow-up-left2:before {
  content: "\ea39";
}
.i-arrow-up2:before {
  content: "\ea3a";
}
.i-arrow-up-right2:before {
  content: "\ea3b";
}
.i-arrow-right2:before {
  content: "\ea3c";
}
.i-arrow-down-right2:before {
  content: "\ea3d";
}
.i-arrow-down2:before {
  content: "\ea3e";
}
.i-arrow-down-left2:before {
  content: "\ea3f";
}
.i-arrow-left2:before {
  content: "\ea40";
}
.i-scissors:before {
  content: "\ea5a";
}
.i-filter:before {
  content: "\ea5b";
}
.i-embed2:before {
  content: "\ea80";
}
.i-terminal:before {
  content: "\ea81";
}
.i-share2:before {
  content: "\ea82";
}
.i-amazon:before {
  content: "\ea87";
}
.i-google:before {
  content: "\ea89";
}
.i-google-plus2:before {
  content: "\ea8c";
}
.i-google-drive:before {
  content: "\ea8f";
}
.i-facebook:before {
  content: "\ea91";
}
.i-instagram:before {
  content: "\ea92";
}
.i-whatsapp:before {
  content: "\ea93";
}
.i-spotify:before {
  content: "\ea94";
}
.i-telegram:before {
  content: "\ea95";
}
.i-twitter:before {
  content: "\ea96";
}
.i-vine:before {
  content: "\ea97";
}
.i-vk:before {
  content: "\ea98";
}
.i-renren:before {
  content: "\ea99";
}
.i-sina-weibo:before {
  content: "\ea9a";
}
.i-rss:before {
  content: "\ea9b";
}
.i-rss2:before {
  content: "\ea9c";
}
.i-youtube:before {
  content: "\ea9d";
}
.i-twitch:before {
  content: "\ea9f";
}
.i-vimeo2:before {
  content: "\eaa1";
}
.i-lanyrd:before {
  content: "\eaa2";
}
.i-flickr3:before {
  content: "\eaa5";
}
.i-flickr4:before {
  content: "\eaa6";
}
.i-dribbble:before {
  content: "\eaa7";
}
.i-behance2:before {
  content: "\eaa9";
}
.i-deviantart:before {
  content: "\eaaa";
}
.i-500px:before {
  content: "\eaab";
}
.i-steam:before {
  content: "\eaad";
}
.i-dropbox:before {
  content: "\eaae";
}
.i-onedrive:before {
  content: "\eaaf";
}
.i-github:before {
  content: "\eab0";
}
.i-npm:before {
  content: "\eab1";
}
.i-basecamp:before {
  content: "\eab2";
}
.i-trello:before {
  content: "\eab3";
}
.i-wordpress:before {
  content: "\eab4";
}
.i-joomla:before {
  content: "\eab5";
}
.i-ello:before {
  content: "\eab6";
}
.i-blogger:before {
  content: "\eab7";
}
.i-blogger2:before {
  content: "\eab8";
}
.i-tumblr:before {
  content: "\eaba";
}
.i-yahoo2:before {
  content: "\eabc";
}
.i-tux:before {
  content: "\eabd";
}
.i-appleinc:before {
  content: "\eabe";
}
.i-finder:before {
  content: "\eabf";
}
.i-android:before {
  content: "\eac0";
}
.i-windows8:before {
  content: "\eac2";
}
.i-soundcloud2:before {
  content: "\eac4";
}
.i-skype:before {
  content: "\eac5";
}
.i-reddit:before {
  content: "\eac6";
}
.i-wikipedia:before {
  content: "\eac8";
}
.i-linkedin:before {
  content: "\eac9";
}
.i-linkedin2:before {
  content: "\eaca";
}
.i-lastfm2:before {
  content: "\eacc";
}
.i-delicious:before {
  content: "\eacd";
}
.i-stumbleupon2:before {
  content: "\eacf";
}
.i-stackoverflow:before {
  content: "\ead0";
}
.i-pinterest:before {
  content: "\ead1";
}
.i-xing:before {
  content: "\ead3";
}
.i-flattr:before {
  content: "\ead5";
}
.i-foursquare:before {
  content: "\ead6";
}
.i-yelp:before {
  content: "\ead7";
}
.i-paypal:before {
  content: "\ead8";
}
.i-chrome:before {
  content: "\ead9";
}
.i-firefox:before {
  content: "\eada";
}
.i-edge:before {
  content: "\eadc";
}
.i-safari:before {
  content: "\eadd";
}
.i-opera:before {
  content: "\eade";
}
.i-file-pdf:before {
  content: "\eadf";
}
.i-file-openoffice:before {
  content: "\eae0";
}
.i-file-word:before {
  content: "\eae1";
}
.i-file-excel:before {
  content: "\eae2";
}
.i-libreoffice:before {
  content: "\eae3";
}
.i-html-five:before {
  content: "\eae4";
}
.i-html-five2:before {
  content: "\eae5";
}
.i-css3:before {
  content: "\eae6";
}
.i-git:before {
  content: "\eae7";
}
.i-codepen:before {
  content: "\eae8";
}
.i-svg:before {
  content: "\eae9";
}
.i-IcoMoon:before {
  content: "\eaea";
}
