
argument:first-child { border-top: 0; }
argument:last-child { border-bottom: 0; }

argument
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding:  32px;
  flex: 1;
  
  text-align: center;
  font-size: 1.4em;
  border-bottom: var(--borderDark);
  border-top: var(--borderLight);
}

argument i
{
  display: block; 
  font-size: 2em;
  margin-bottom: 16px;
}


argument p
{
  margin-top:0px;
  margin-bottom: 8px; 
  font-weight: 500;
}

argument small
{
  font-size: 0.6em;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

argument p:empty, argument small:empty
{
  display: none
}

argument button
{
  display: block;
}


@media( min-width: 800px )
{
 
  argument:first-child { padding-left: 0px; border-left: 0; }
  argument:last-child { padding-right: 0px; border-right: 0; }
  
  argument
  {
    padding: 0px 32px 32px;
    border-top: 0;
    border-bottom: 0;
    border-right: var(--borderDark);
    border-left: var(--borderLight);
  }
  
}
