button
{
  color: #3D3D3D;
  background: transparent;
  border: var(--borderSurface);
  padding: var(--space2, 16px) var(--space3, 32px);
  text-align: center;
  border-radius: var(--borderRadius, 3px);
  text-transform: uppercase;
  margin-bottom: var(--space2, 16px);
  font-size: var(--space2,  16px);
  font-family: var(--contentFont, "sans-serif");
}

button:last-child
{
  margin-bottom: 0;
}

button:first-child
{
  color: white;
  background: var(--accent, #000);
}


button:hover
{
  border: var(--borderAccent);
  text-shadow: 0px 0px 20px var(--accentColor, #0884FF);
  color: var(--accent, #0884FF);
  cursor: pointer;
  background: white;
}

button[primary]:hover
{
  background: var(--accent);
  text-shadow: 0px 0px 20px var(--accent, #0884FF);
  color: white;
}

button[minor]
{
  background: transparent;
  border: none;
}

.inverted button
{
  color: var(--light, #fff);
  background: transparent;
}

.inverted button:hover
{
  border: var(--borderAccent);
}

.inverted button:first-child
{
  color: var(--light, #fff);
  background: var(--surface, #000);
  border: var(--borderSurface);
}

.inverted button:first-child:hover
{
  border: var(--borderAccent);
  color: var(--light);
  background: var(--accent);
}

@media( min-width: 800px )
{
  
  button
  {
    max-width: 300px;
    margin-bottom: 0px;
    margin-right: var( --space2, 16px );
  }
  
  [column] button
  {
    margin-bottom: var( --space2, 16px );
    margin-right: 0px;
  }

}
