[card],
card
{
  padding: 32px;
  background: #fff;
  margin-bottom: 32px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  font-style: normal;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  color: #3D3D3D;
}

[card] h3,
card h3
{
  border-bottom: var(--borderLight);
  width: 100%;
  margin-top: 0px;
  padding-bottom: var(--space2, 16px);
}

card p{ flex-grow: 1; }



@media( min-width: 800px )
{

  card
  {
    margin-right: 32px;
    flex: 1;
  }
  
  card:last-child
  {
    margin-right: 0px;
  }
  
}
