
address
{
  padding: 32px;
  background: #F1F1F1;
  margin-bottom: 32px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #0000001a;
  color: var(--predominantColor, #000);
  font-style: normal;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

address group
{
  align-items: center;
}

address group div
{
  text-align: center;
}


address p
{
  margin: 4px;
}

p[addr]
{
  padding-top: 23px;
  font-size: 0.8em;
  text-shadow: none !important;
}

[phone]
{
  display: inline-block;
  padding: 16px 32px;
  margin-top: 16px;
  
  border: var(--borderSurface); 
  border-radius: var(--borderRadius, 30px);
  color: var(--surface, #005AFF);
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
}

[phone] span.n{ display: none; }
[phone] i{ margin-right: 10px; }

[phone]:hover
{
  border: var(--borderAccent);
  background: var(--accent);
  color: white;
}

social{ font-size: 2em; }
social i{ margin-right: 10px; }
social i:last-child{ margin-right: 0px; }


@media( min-width: 800px )
{
 
  section.contact
  {
    justify-content: flex-start;
  }
  
  .contact form,
  .contact address
  {
    flex: 1;
    margin: 16px;
  }
  
  .contact group
  {
    align-items: flex-start;
  }
  
  .contact address,
  .contact form
  {
    flex: 1;
  }
  
  [phone] span.n{ display: inline; }
  [phone] span.c{ display: none; }
  
  address group div
  {
    text-align: left;
  }
  
  address group img
  {
    margin-right: 32px;
  }
  
  address group div
  {
    text-align: left;
  }
  
  address group img
  {
    margin-right: 32px;
  }
  
  
  
}
