.embed-container
{
  position: relative; 
  padding-bottom: 56.25%; 
  /*padding-top: 30px; */
  height: 0; 
  width: 90%;
  overflow: hidden; 
} 

.embed-container-squarish
{
  position: relative; 
  padding-bottom: 120%; 
  width: 90%;
  height: 0; 
  overflow: hidden; 
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}
