.features
{
  align-items: center;
  justify-content: left;
}

feature
{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
  border-bottom: var(--borderNeutral);
  padding-left: 32px;
  opacity: 1;
}

feature:last-child{ border-bottom: 0; } 

feature.cross{ opacity: 0.3; color: red; }
.inverted feature.cross{ opacity: 1; color: #ff8b8b; }

feature i{ margin-right: 16px; }
feature p{ margin: 16px; padding: 0px; }


@media( min-width: 800px )
{
  feature{ width: 60%; } 
}
