input,
textarea
{
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 10px; 
  background: rgba(0, 0, 0, 0.05);
  border: 0;
  border-bottom: 2px solid #fff3;
  color: black;
  font-size: 1.1em;
  box-shadow: inset 3px 3px 2px #0000001a;
}



input::placeholder,
textarea::placeholder
{
  color: black;
  opacity:1 ;
}



.inverted input,
.inverted textarea 
{
  color: white;
}

input::placeholder,
textarea::placeholder
{
  color: gray;
  opacity:1 ;
}

input:focus
{
  border-bottom: 2px solid #fff;
}

label
{
  display: flex;
  margin-bottom: 8px;
}

input[type=checkbox]
{
  width: 16px;
  margin-right: 16px; 
}
