header
{
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  height: 55px;

  background: var(--surface, #292929);
  color: var(--light, #EFEFEF);
  
  transition: height 0.2s, padding 0.2s;
}

#headerIcon
{
  margin-left: 16px;
  height: 32px;
}

header span
{
  display: flex;
  flex-grow: 1;
  font-family: var(--headerFont), "sans-serif";
  font-size: 20px;
  padding-left: var(--space2,  16px);
  transition: text-shadow 0.4s;
}

header button
{
  
  background: transparent;
  border: 0 !important;
  font-size: 1.2rem;
  font-family: sans-serif;
  color: inherit;
  
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  padding: 0px;
  margin-right: 8px;
  margin-bottom: 0px;
  
  transition: background 0.3s;
  
}

header button:hover
{
  background: var(--dark);
}

icon
{
  display: inline-block;
  width: 0px;
  overflow: hidden;
  transition: width 0.2s;
}

.paged header span icon,
.paged nav h1 icon
{
  width: 2em;
}


header button[txt] i{ margin-right: 8px; }



header span:hover
{
  text-shadow: 0px 0px 20px var(--dark);
  color: white;
  cursor: pointer;
}

header button.audio{ display: none; }
header button.audio[audiourl]{ display: block; }

/* DESKTOP **********************************************************/

@media( min-width: 800px )
{
  
 
  header
  {
    padding: 8px;
    margin: 0px;
  }
  
  .down header{ padding: 0px 8px; }
  
  header span
  {
    display: flex;
    width: 100%;
    margin: 0px;
    font-weight: 400;
    font-size: 22px;
  }
  
  header button
  {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    height: 48px;
    padding: 16px;
    margin-left: 0px;
  }
  
  header button[text]
  {
    width: auto;
    height: auto;
    margin-left: 8px;
    padding: 8px 16px;
  }
  
  header button:active,
  header button:focus
  {
    border: 2px solid white;
    outline: 0;
  }

}
