#inbox section
{
  display: flex;
  flex-direction: row;
}

#inbox #users
{
  widht: 300px;
  border-right: 1px solid red;
  margin-right: 16px;
  padding-right: 16px;
}

message
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #9C9C9C;
  margin-bottom: 16px;
  padding: 16px;
}

nav button span
{
  background: red;
  padding: 4px;
  font-size: 12px;
  border-radius: 3px;
  margin-left: 10px;
}

nav button span:empty{ display: none; }

