@keyframes spin
{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.i-spinner
{
  animation: spin 3s infinite linear;
  display: block;
}


loading, error, success{ display: none; }
[processing] [interactive]{ display: none; }
[processing] loading{ display: block; }
[failed] error
{
  display: block;
  background: red;
  color: white;
  padding: 16px;
  margin-bottom: 32px;
  text-align: center;
}

[ok] success{ display: block; }

[failed] error strong
{
  display: block;
}
