@font-face 
{
  font-family: 'Impact';
  src: url('fonts/impact-webfont.woff') format('woff'),
       url('fonts/impact-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.meme{ position: relative; }

.meme pitch { top: 0px; }
.meme kicker { bottom: 0px; }

.meme pitch,
.meme kicker
{
  font-family: "Impact", "sans-serif";
  font-size: 2.3em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-shadow:-4px 4px 0px #000, 
              -4px 0px 0px #000,
              -4px -4px 0px #000 ,
              0px 4px 0px #000,
              0px -4px 0px #000,
              4px 4px 0px #000,
              4px -4px 0px #000,
              4px 0px 0px #000 ;
  
  padding: 16px;
  position: absolute;
  left: 0px;
  right: 0px;
  
}
