
nav
{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 0px;
  height: calc(100vh - #{$headerMobileHeight});
  padding: var(--space2, 16px);
      
  flex-grow: 0;
  flex-shrink: 0;
  
  background: var(--dark);
  color: white;
}



nav button{ width: 100%; }


.down nav{ height: 100vh; } 

.user-online #loggedUser[logged]
{
  display: flex;
  margin-bottom: 16px;
}



#loggedUser p{ margin-top: 0px; font-size: 20px; }

#loggedUser button
{
  padding: 4px 0px;
  font-size: 12px;
}

#loggedUserAvatar
{
  display: block;
  width: auto;
  height: 48px;
  margin-right: 16px;
  border-radius: 48px;
}

@media(max-width: 800px)
{
  
  nav
  {
    width: 100vw;
    height: calc(100vh - #{$headerMobileHeight});
    
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    
    box-shadow: 0px 0px 0px #000;
    transform: translateX(100%);
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 100;
  }
  
  .nav nav
  {
    transform: translateX(0%);
  }
  
}

nav.drag
{
  transition: transform 0s, box-shadow 0s;
}

nav ul
{
  margin: 0px; padding: 0px;
}

nav ul li
{
  display: block;
  padding: var(--space2, 16px);
  border-bottom: 1px solid #4E4E4E;
  text-transform: uppercase;
}

nav footer
{
  flex-shrink: 0;
  flex-grow: 0;
  border-top: var(--borderAccent);
  padding-top: 16px;
  text-align: right;
  opacity: 0.5;
}

nav footer a
{
  text-decoration: none;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav footer img
{
  height: 16px;
  margin-left: 16px;
}

.nav header button[emit=menu]
{
  color: var(--accent, #1E90FF);
}

@media( min-width: 800px )
{
  
  nav
  {
    width: 0px;
    height: calc(100vh - #{$headerDesktopHeight});
    transition: width 0.3s;
    padding: 16px 0px;
    overflow: hidden;
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
  }
  
  .nav nav
  {
    width: 300px;
    padding: 16px;
  }
  
  nav h1
  {
    margin-top: -16px;
    padding: 32px 16px;
    font-size: 20px;
    color: white;
  }
    
}

nav group
{
  margin: 0px;
}

#btnInbox span
{
  background: red;
  color: white;
  padding: 2px 10px;
}
