

header button
{
  
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin-right: 8px;
  
  background: transparent;
  border: 0;
  font-size: 1.2rem;
  color: inherit; 
  
  
}





icon
{
  display: inline-block;
  width: 0px;
  overflow: hidden;
  transition: width 0.2s;
}


.paged header span icon,
.paged nav h1 icon
{
  width: 1.2em;
}

wolf
{
  flex-grow: 1;
  position: relative;
}

presenter
{
  display: none;
}

pager
{
  flex-grow: 1;
  margin-right: 0px;
}
  
@media( max-width: 800px )
{
  pager
  {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-right: 0px;
  }
}

page
{
  display: none;
  height: 100vh;
  touch-action: pan-y;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px;
  box-sizing: border-box;
}

pager[page=init] page#init,
pager[page=landing] page#landing
{
  display: flex;
  flex-direction: column
}





[scrolls]{ flex-shrink: 1; overflow: auto; } 
[grows]{ flex-grow: 1; }

[bleed],
.bleed
{
  padding: var(--space2,  16px);
  margin: var(--space-2,  -16px);
  margin-bottom: 0px;
}

.c{ text-align: center } 

pitch
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--space3, 32px) 0px;
   
  font-family: var(--pitchFont), sans-serif;
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: -1px;
  font-weight: 100;
}



pitch:empty { display: none; }





button
{
  
  padding: 16px 32px;
  margin-bottom: 16px;
  
  color: var(--surfaceDark);
  background: transparent;
  border: var(--surfaceBorderDark, 2px solid #505050);
  border-radius: var(--borderRadius, 100px);
  
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: var(--contentFont, "sans-serif");
  
  transition: border-color 0.1s, background-color 0.1s;
  
}

section button:first-child
{
  color: var(--surfaceLight, #fff);
  background: var(--surfaceDark, #505050);
  border: var(--surfaceBorderDark, 2px solid #505050);
}



button:last-child
{
  margin-bottom: 0;
}



header button { margin-bottom: 0px; }

header span:hover
{
  text-shadow: 0px 0px 20px var(--accentColor, #0884FF);
  color: var(--accentColor, #0884FF);
  cursor: pointer;
}

button:hover
{
  text-shadow: 0px 0px 20px var(--accentColor, #0884FF);
  border: var(--surfaceBorderAccent);
  color: var(--accentColor, #0884FF);
  cursor: pointer;
  background: var(--surfaceLightFocus, #fff);
}

.inverted button:hover
{
  background: var(--surfaceDarkFocus, #0f0f0f80);
}

button:focus
{
  border: var(--surfaceBorderAccent);
  outline: 0;
}

button:first-child:hover
{
  background: var(--accentColor, #0884FF);
  text-shadow: 0px 0px 20px var(--dark, #0884FF);
  border: var(--surfaceBorderAccent);
  color: var(--light, #fff);
}

nav
{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 0px;
  height: calc(100vh - 55px);
  padding: 16px;
      
  flex-grow: 0;
  flex-shrink: 0;
  
  background: rgba(0, 0, 0, 0.6);
  color: var(--light);
}








@media(max-width: 800px)
{
  
  nav
  {
    width: 100vw;
    
    
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    
    box-shadow: 0px 0px 0px #000;
    transform: translateX(100%);
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 100;
  }
  
  .nav nav
  {
    transform: translateX(0%);
  }
  
}

nav.drag
{
  transition: transform 0s;
}  

.nav header button
{
  color: var(--accentColor, #0884FF);
}

[desktop]{ display: none; }

group
{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--space2, 16px);
}

argument:first-child { border-top: 0; }
argument:last-child { border-bottom: 0; }

argument
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding:  32px;
  flex: 1;
  
  text-align: center;
  font-size: 1.4em;
  border-bottom: 2px solid #00000050;
  border-top: 1px solid #ffffff50;
}

argument i
{
  display: block; 
  font-size: 2em;
  margin-bottom: 16px;
}


argument p
{
  margin-top:0px;
  margin-bottom: 8px; 
  font-weight: 500;
}

argument small
{
  font-size: 0.6em;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

argument p:empty, argument small:empty
{
  display: none
}

argument button
{
  display: block;
}

[destination]:hover,
[action]:hover
{
  cursor: pointer;
}

card,
address
{
  padding: 32px;
  background: #fff;
  margin-bottom: 32px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #0000001a;
  font-style: normal;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  color: var(--dark);
}

card h3
{
  border-bottom: var(--borderLight);
  width: 100%;
  margin-top: 0px;
  padding-bottom: var(--space2, 16px);
}

card p{ flex-grow: 1; }

address group
{
  align-items: center;
}

address group div
{
  text-align: center;
}


address p
{
  margin: 4px;
}

p[addr]
{
  margin-top: 40px;
  margin-bottom: 0px;
  padding-top: 23px;
  border-top: 2px solid #CECECE;
}



i:hover
{
  color: var(--accentColor, #005AFF);
}

input,
textarea
{
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 10px; 
  background: rgba(0, 0, 0, 0.05);
  border: 0;
  border-bottom: 2px solid #fff3;
  color: black;
  font-size: 1.1em;
  box-shadow: inset 3px 3px 2px #0000001a;
}

input::placeholder,
textarea::placeholder
{
  color: var(--dark);
}

.inverted input,
.inverted textarea
{
  color: var(--light);
}

.inverted input::placeholder,
.inverted textarea::placeholder
{
  color: var(--light);
}

input:focus
{
  border-bottom: 2px solid #fff;
}

label
{
  display: flex;
  margin-bottom: 8px;
}

input[type=checkbox]
{
  width: 16px;
  margin-right: 16px; 
}












/* DESKTOP **********************************************************/
  
@media( min-width: 800px )
{
  
  shell
  {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
  }
  
  wolf
  {
    display: flex;
    flex-direction: row;
  }
  
  
  
  header
  {
    display: flex;
    border-bottom: 2px solid var(--accentColor, #0884FF);
    padding: 8px;
    margin: 0px;
  }
  
  .down header{ padding: 0px 8px; }
  
  header span
  {
    display: flex;
    width: 100%;
    margin: 0px;
    font-weight: 400;
    font-size: 32px;
  }
  
  header button
  {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 0px;
    
  }
  
  header button:active
  {
    border: 2px solid white;
    outline: 0;
  }
  
  nav
  {
    width: 0px;
    height: calc(100vh - 73px);
    transition: width 0.3s;
    padding: 16px 0px;
    overflow: hidden;
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
  }
  
  .nav nav
  {
    width: 300px;
    padding: 16px;
  }
  
  nav h1
  {
    margin-top: -16px;
    padding: 32px 16px;
    font-size: 20px;
    color: white;
  }
  
  button
  {
    max-width: 300px;
    margin-bottom: 0px;
    margin-right: var( --space2, 16px );
  }
  
  button:last-child
  {
    margin-right: 0px;
  }
  
  group
  {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
  
  
  
  pitch
  {
    margin-top: 0px;
  }
  
  .hero pitch
  {
    font-size: 2.4em;
  }
  
  .bleed
  {
    padding: var(--space4,  64px);
    margin: var(--space-4,  -64px);
    margin-bottom: var(--space0,  0px);
  }
  
  .bleed:last-child
  {
    margin-bottom: var(--space-4,  -64px);
  }
  
  p{ margin-bottom: var(--space3, 32px); }
  
  [desktop]{ display: block; }
  [mobile]{ display: none; }
  
  
  
  
  
  
  
  
  
}
  
