section
{
  
  display: flex;
  justify-content:  center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  
  padding: 16px;
  box-sizing: border-box;
      
  background-color: var(--light);
  color: #505050;
      
  background-size: cover;
  background-position: top center;
  
}

section:nth-child(even)
{
  
  background-color: var(--lighter);
  
}

section.inverted
{
  background-color: var(--darker);
  color: #E7E7E7;
}



section.inverted:nth-child(even)
{
  background-color: var(--dark);
}

section.hero,
section.cover,
section.meme
{
  min-height: calc( 100vh - #{$headerMobileHeight} );
}

.down section.cover,
.down section.meme
{
  min-height: 100vh;
}


@media( min-width: 800px )
{

  section
  {
    flex-direction: column;
    padding: var(--space4,  64px);
  }
  
  section.hero,
  section.cover,
  section.meme
  {
    min-height: calc( 100vh - #{$headerDesktopHeight} );
  }

}
