

.prices card
{
  text-align: center;
}

price_val
{
  font-size: 3.2em;
  font-weight: 700;
}

price_val[free]{ font-weight: 100; }

price_coin,
price_cents
{
  vertical-align: top;
  position: relative;
  top: 5px;
  font-size: small;
}

price_subscription
{
  display: block;
  letter-spacing: 3px;
}

@media( min-width: 800px )
{

}
