.c{ text-align: center; }
.l{ text-align: left; }
.r{ text-align: right; }
.j{ text-align: justify; }

p
{
  font-size: 1.2em; 
  margin-bottom: var(--space2, 16px);
  text-shadow: 1px 1px 1px #fff;
}

.inverted p
{
  text-shadow: 1px 1px 1px #000;
}

pitch
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space3, 32px);
   
  font-family: var(--pitchFont), sans-serif;
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: -1px;
  font-weight: 100;
}

.hero pitch
{
  padding: var(--space3, 32px);
  font-weight: 500;
  font-size: 1.4em;
  background: var(--light);
  color: var(--dark);
  mix-blend-mode: hard-light;
}

.inverted.hero pitch
{
  background: var(--dark);
  color: var(--light);
}



pitch:empty,
p:empty,
group:empty
{ display: none; }

i:hover
{
  color: var(--accentColor, #005AFF);
}

