@import 'vars';
@import 'alpha';

body { font-family: 'monospace'; }

@import 'button';
@import 'forms';
@import 'header';
@import 'loading';
@import 'nav';
@import 'tipografia';
@import 'inbox';
@import 'wolf';

#jsoneditor input
{
  padding: 0px;
  box-shadow: unset;
}


group #jsoneditor
{
  flex-grow: 1;
  background: #E1E1E1;
}

group iframe{ display: none; }

section
{
  padding: 16px;
}

/* DESKTOP **********************************************************/

@media( min-width: 800px )
{
  
  section
  {
    padding: 32px;
    flex-direction: column;
    min-height: calc( 100vh - 73px );
  }
  
  page#editor { overflow: hidden; }
  
  group #jsoneditor
  { 
    margin-left: 8px;
    height: calc(100vh - #{$headerDesktopHeight} - 64px);
  }
  
  group iframe
  {
    display: block;
    width: 320px;
    height: calc(100vh - 73px - 64px);
    border: 1px solid #6b6b6b;
  }
  
}


