
shell 
{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background: #fff;
}



.down header
{
  height: 0px;
  padding: 0px;
  overflow: hidden;
  border: 0;
}



wolf
{
  flex-grow: 1;
  position: relative;
}

@media( min-width: 800px )
{
  
  shell
  {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
  }
  
  wolf
  {
    display: flex;
    flex-direction: row;
  }
  
}

presenter
{
  display: none;
}

pager
{
  flex-grow: 1;
  margin-right: 0px;
}
  
@media( max-width: 800px )
{
  pager
  {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-right: 0px;
  }
}

page
{
  display: none;
  height: calc(100vh - #{$headerMobileHeight});
  touch-action: pan-y;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px;
  box-sizing: border-box;
}

@media( min-width: 800px )
{
  page { height: calc(100vh - #{$headerDesktopHeight}) }
}

.down page{ height: 100vh; }
  


pager[page=init] page#init,
pager[page=login] page#login,
pager[page=register] page#register,
pager[page=editor] page#editor,
pager[page=publish] page#publish,
pager[page=public] page#public,
pager[page=landing] page#landing,
pager[page=error404] page#error404,
pager[page=inbox] page#inbox,
pager[page=compose] page#compose,
pager[page=upload] page#upload,
pager[page=compose] page#compose,
{
  display: flex;
  flex-direction: column;
}

[destination]:hover,
[action]:hover
{
  cursor: pointer;
}

[blendmode=multiply]{ background-blend-mode: multiply; }
[blendmode=screen]{ background-blend-mode: screen; }
[blendmode=overlay]{ background-blend-mode: overlay; }
[blendmode=darken]{ background-blend-mode: darken; }
[blendmode=lighten]{ background-blend-mode: lighten; }
[blendmode=color-dodge]{ background-blend-mode: color-dodge; }
[blendmode=saturation]{ background-blend-mode: saturation; }
[blendmode=color]{ background-blend-mode: color; }
[blendmode=luminosity]{ background-blend-mode: luminosity; }



  
